.display-mangas-container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.manga-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 20px;
  row-gap: 40px;
  padding: 20px 0 40px 0;
}

.manga-list a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.manga-container {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  padding: 10px;
  border-radius: 8px;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.manga-container:hover {
  background-color: #4a4a4a;
}

.manga-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 20px 0;
  border-bottom: solid thin;
  overflow: hidden;
}

.manga-container img {
  max-height: 100%;
  max-width: 75%;
  object-fit: contain;
}

.manga-title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30%;
  padding: 10px;
}

.manga-container p {
  text-align: left;
  margin: 0;
}
