.mangadex-search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Make it responsive */
  padding: 40px 0;
}

.mangadex-search-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  margin: 20px;
}

.mangadex-search-form input {
  padding: 10px;
}

.manga-list {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(8, 1fr); */
  grid-auto-rows: 1fr; /* Key part: make all rows equal height */
  column-gap: 20px;
  row-gap: 40px;
  padding: 20px;
}

.manga-list a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.manga-container {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  padding: 10px;
  border-radius: 8px;
  height: 100%; /* Critical: fills grid cell */
}

.manga-container:hover {
  background-color: #4a4a4a;
}

.manga-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-bottom: solid thin;
  overflow: hidden;
}

.manga-container img {
  max-height: 100%;
  max-width: 75%;
  object-fit: contain;
}

.manga-title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30%;
  padding: 10px; /* Fine-tuned padding */
}

.manga-container p {
  text-align: left;
  margin: 0;
}
